body,
input,
textarea,
select,
button {
  font-size: 1em;
  line-height: 1.2;
  color: $font-color;
  font-family: "InspireTWDC", Helvetica, sans-serif;
}

body {
  max-width: 1600px;
  margin: 0 auto;

  li,
  a {
    font-weight: bolder;
    max-height: 44px;
  }

  button {
    width: 16rem;
    padding: 1rem;
    border-radius: 2.2rem;
    font-weight: bolder;
  }

  header {
    background-color: $main-white;
    

    nav {
      display: flex;
      align-items: center;
      padding-top: 0.6rem;
      padding-left: 1.3rem;

      img {
        width: 95px;
      }

      ul {
        display: flex;
        gap: 2.6em;

        li {
          list-style-type: none;

          a {
            color: $font-color;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
  }

  main {
    .encarts {
      display: flex;
      padding-bottom: 2rem;

      figure {
        width: 333px;
        display: flex;
        flex-direction: column;
        background-color: $main-white;

        span {
          font-size: 12px;
          font-weight: 900;
          margin: 1.5rem;
          margin-top: 0;
        }

        img {
          width: 100%;
        }

        div {
          padding: 1.8rem;
          display: flex;
          flex-direction: column;
          margin-bottom: auto;

          h2 {
            font-size: 20px;
          }

          figcaption {
            font-size: 14px;
          }
        }
      }
    }

    .main-banner {
      background-image: url("../../img/content/eu_percy-jackson-and-the-olympians-s2_hero_r_aa6c28c4.jpeg");
      background-size: cover;
      color: white;
      height: 650px;
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        padding-top: 6rem;
        padding-left: 7rem;
        

        span {
          text-align: center;
          line-height: 1.6rem;
          margin-bottom: 1rem;
        }

        img {
          width: 500px;
        }

        button {
          background-color: $utilitary-yellow;
        }
      }
      .subscription-requiered {
          padding-top: 5rem;
          padding-left: 7rem;
          font-size: 12px;
        }
    }

    .promotion-encarts {
      background-color: $section-background-color;
    }

    .on-disneyplus {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $main-green;
      color: $main-white;

      .encarts-films {
        display: flex;
        margin: 0 auto;

        figure {
          max-width: 440px;
          display: inherit;
          flex-direction: column;

          h2 {
            font-size: 18px;
            font-weight: 100;
          }

          img {
            border-radius: 0.5rem;
          }
        }
      }

      .subscriptions-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        span {
          font-size: 14px;
          margin-bottom: 3rem;
        }
      }
    }

    .entertaining {
      background-color: $section-background-color;
      .h2_title {
        align-self: center;
      }
      .psbrother {
        display: flex;
        flex-direction: column;

        .oversized-figure {
          width: 686px;
        }
      }

      .shop-section{
        display: flex;
        flex-direction: column;
      
      .shop-area {
        background-image: url("../../img/content/shop_disney_generic_banner_fy24_short_hero_v1_ab81a272.jpeg");
        background-size: cover;
        width: 100%;
        max-width: 1492px;
        height: 464px;
        display: flex;
        margin: 0 auto;

        div {
          display: flex;
          flex-direction: column;
          text-align: center;
          color: $main-white;
          padding-top: 10%;
          padding-left: 10%;

          a {
            color: $main-white;
            text-transform: uppercase;
            text-decoration: none;
          }

          img {
            width: 373px;
          }
        }
      }
    }

    .films-section{
        display: flex;
        flex-direction: column;
        h2{
            margin-top: 4.5rem;
        }
    
      .films {
        display: flex;
        figure {
          width: 259.2px;

          h2 {
            font-size: 18px;
            font-weight: 100;
            margin-top: .4rem;
          }

          img {
            width: 100%;
            border-radius: 0.4rem;
          }
        }
      }
    }

      .actus {
        padding-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        h2{
            font-weight: 400;
            font-size: 30px;
            padding-top: 2rem;
        }
        div {
          background-image: url("../../img/content/crm-generic_short-hero_r_e8f9f2e1.jpeg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          max-width: 1392px;
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          height: 464.64px;

          .inside-container {
            background-image: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30rem;
            text-align: center;
            h2 {
              color: $main-white;
              font-size: 36px;
            }

          }
        }
      }
    }

    .follow-us{
        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            h3{
                margin-bottom: 0.2rem;
                font-weight: 100;
                font-size: 16px;
            }

            ul{
                display: flex;
                gap: 1rem;
                padding: 0;

                li{
                    list-style-type: none;

                    a{
                        color: $font-color;
                    }
                }
            }
        }
    }
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    gap: 2rem;

    .logo-container{
       img{
        width: 84px;
       }
    }
    .footer-links{
        display: flex;
        gap: 1.5rem;
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: center;

        a{
            text-decoration: none;
            color: $font-color;
            font-weight: 100;
        }
    }

    .copyrights{
        font-size: 0.75em;
        h4{
            font-weight: 100;
        }
        
    }
  }
}
